.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(rgb(241, 128, 133),#a990d8);
}
#barra-nav{
    background-color: rgb(155, 34, 34);
}
#donde-esta{
    background-color: rgb(247, 85, 85);
    border: inset;
    border-color: rgb(235, 166, 204);
}
#donde-esta:hover{
    background-color: rgb(184, 51, 51);
}
.contenedor{
    margin-left: auto;
    margin-right: auto;
}
.contenedor2{
    margin: 10%;
}
.contenedor3{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
}
.contenido{
    margin-bottom: 2%;
}
.contenido2{
    align-items: center;
    margin-left: 20%;
    margin-right: 20%; 
}
.formulario{
    margin: 10%;
    padding: 5%;
    color: aliceblue;
}
#Check1:checked{
    background-color: black;
    border: #d1e2e2;
}
.texto-home{
    padding: 4%;
    text-align: center;
}
.texto-sobreNosotros{
    color: aliceblue;
}
.titulo-termCon{
    text-align: center;
}
.texto{
    text-align: justify;
}
.btn{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
#btn-login{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#btn-sn{
    width: 30%;
}
#division{
    text-align: center;
}
.img-sobreNosotros{
    width: 50%;
    display: block;
    margin: auto;
    border-style: solid;
    border-color: rgb(151, 194, 231) ;
    border-radius:1%;
}
.card-index{
    display: inline-block;
    margin: 4%;
    border-radius: 20px;
}
.card-producto{
    margin: 8%;
    display: inline-block;
    border-color: rgb(166, 203, 235);
}
.card2{
    padding: 1cm;
}
.hr{
    color: black;
}
.lista{
    text-align: justify;
    font-weight: 500;
    font-size: large;
}
.pie-pagina{
    width: 100%;
    padding: 2%;
    margin-top: auto;
    text-align: center; 
}
#terminosCondiciones:hover{
    font-size: large;
}
